<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="static/classes.css">
        <title>Binder Cover Generator</title>
    </head>

    <body>
        <h1 class="tile">
            Binder Cover Generator
        </h1>

        <p class="tile" style="text-align: center">
            This is an extremely simple binder cover PDF generator tool. To generate a binder cover, simply fill out the fields and click generate. Fields left blank will not be included on your cover. Information entered is never stored or shared.
        </p>

        <div class="tile">
            <form method="post" class="tile" style="background-color: rgb(180, 180, 180); margin-left: 25%; margin-right: 25%" action="/form/generate" id="pdf-fields">
                <div>
                    <label for="name-input"> Name: </label>
                    <input name="name" placeholder="John Smith" id="name-input" required>
                </div>

                <div>
                    <label for="course-input-1"> Course 1: </label>
                    <input name="course1" placeholder="Calculus 1" id="course-input-1" required>
                </div>

                <div>
                    <label for="course-input-2"> Course 2: </label>
                    <input name="course2" placeholder="Calculus 2" id="course-input-2">
                </div>

                <div>
                    <label for="course-input-3"> Course 3: </label>
                    <input name="course3" placeholder="Calculus 3" id="course-input-3">
                </div>

                <div>
                    <label for="semester-input"> Semester: </label>
                    <input name="semester" placeholder="1" id="semester-input">
                </div>

                <div>
                    <label for="year-input"> Year: </label>
                    <input name="year" placeholder="1969" id="year-input">
                </div>

                <div>
                    <label for="email-input"> Email: </label>
                    <input name="email" placeholder="john@smith.com" id="email-input">
                </div>

                <div>
                    <label for="phone-input"> Phone: </label>
                    <input name="phone" placeholder="(012)345-6789" id="phone-input">
                </div>

                <br>
            </form>

            <script>
                var form = document.getElementById('pdf-fields');
                var labels = form.getElementsByTagName('label');
                for (var i = 0; i < labels.length; i++) {
                    label = inputs[i];
                    label.innerHTML += "<span class='required'>*</span>";
                }
            </script>

            <div style="text-align: center">
                <button style="min-width: 170px;" type="submit" onclick="document.getElementById('pdf-fields').submit()">
                    Generate PDF
                </button>
            </div>
        </div>

    </body>

    <footer>
        <div style="text-align: right; margin-right: 10px">
            <a href="techy.cc">Creator's Website</a>
        </div>
    </footer>

</html>